/* @font-face { */
/*   font-family: 'serif-roman'; */
/*   src: url('../fonts/serif-roman.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'serif-roman-slanted'; */
/*   src: url('../fonts/serif-roman-slanted.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'sans-serif'; */
/*   src: url('../fonts/sans-serif.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  /* background-color: #fafafa; */
  color: #3d3d3d; /* 61, 61, 61  */
  /* color: rgb(41, 41, 41); */
  /* color: rgb(51, 51, 51); */
  /* font-family: 'SFMono-Regular', 'space mono', Courier, monospace; */
  /* font-family: 'serif-roman', serif; */
  /* font-family: 'space mono', monospace; */
  /* font-family: 'Georgia, Cambria, 'Times New Roman', serif'; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  padding: 20px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  body {
    font-size: 17.5px;
  }
}

.katex {
  /* font-size: 1em !important; */
}
a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

#layout {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  #layout {
    max-width: 48rem;
  }

  #container {
    width: 87.5%; /* width x 48 = 42*/
  }
}

h1,
h2,
h3,
h4 {
  line-height: normal;
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 0.625em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.05em;
}

ul,
ol {
  margin: 5px 0;
  padding-left: 0;
  margin-bottom: 1em;
  list-style-type: none;
}

ul > li,
ol > li {
  text-indent: 0px;
  margin: 0.3em 0;
}

p + ul,
p + ol {
  /* I want the margin between p and ul 
  to be the same as the one between li */
  margin-top: -0.7em;
}

ol {
  list-style-type: decimal;
}

hr {
  background-color: #e1e4e8;
  border: 0;
  height: 1px;
  margin: 24px 0;
  padding: 0;
}

.vim-cursor {
  display: inline-block;
  background-color: #5f5f5e;
  color: white;
  margin-bottom: -5px;
  margin-left: 3px;
  width: 10px;
  height: 18px;
}

blockquote {
  margin: 1.5em 0 1.5em 1.8em;
  color: #5a5a5a;
  /* color: #8c8c8c; */
  position: relative;
  font-style: italic;
  /* margin-left: 100px; */
}

blockquote:before {
  font-family: georgia, serif;
  /* color: #8c8c8c; */
  font-size: 3.6em;
  position: absolute;
  content: '\201C';
  line-height: 1em;
  font-style: normal;
  left: -0.5em;
  top: 0;
}

cite {
  display: block;
  text-align: right;
  color: #3d3d3d;
}

cite:before {
  content: '— ';
}

table {
  border: 2px solid black;
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  min-width: 100%;
  margin: 2em auto;
}

@media (min-width: 576px) {
  table {
    min-width: 20rem;
  }
}

th,
td {
  padding: 5px 10px;
  text-align: left;
}

th {
  border-bottom: 1px solid black;
}

.mono {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

#post-list .date {
  color: #aaa;
}

figure {
  margin: 0;
  margin-bottom: 1.4em;
}

#blog-post figure {
  margin-top: 1.4em;
}

figcaption:before {
  font-variant: small-caps;
  /* content: 'Figure – '; */
}
figcaption {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.4em;
}

iframe {
  border: none;
  margin: 0 auto;

  /* safari bug: iframe width is not constrained */
  width: 1px;
  min-width: 100%;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  /* height: 100%; */
  display: block;
  margin: 0 auto;
}

strong {
  font-weight: 500;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}
