@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  background-color: #fafafa;
  color: #3d3d3d;
  font-family: 'space mono', monospace;
  font-size: 1em;
  margin: 10px;
  padding: 15px;
  line-height: 1.6;
}

h1 {
  font-size: 1.4em;
  margin: 0;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 5px 0;
  margin-bottom: 1em;
  padding-left: 20px;
  list-style-type: none;
}

ul > li {
  text-indent: -5px;
}
ul > li:before {
  content: '－';
  text-indent: -5px;
  margin-right: 5px;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.vim-cursor {
  display: inline-block;
  background-color: #5f5f5e;
  color: white;
  margin-bottom: -5px;
  margin-left: 3px;
  width: 10px;
  height: 18px;
}
